absl-py==0.9.0
astor==0.8.1
backcall==0.1.0
boto3==1.11.9
botocore==1.14.9
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.1
docutils==0.15.2
filelock==3.0.12
Flask==1.1.2
Flask-WTF==0.14.3
gast==0.3.3
google-pasta==0.1.8
grpcio==1.26.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.8
ipdb==0.12.3
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
nltk==3.4.5
numpy==1.18.1
olefile==0.46
opt-einsum==3.1.0
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==3.0.3
protobuf==3.11.2
ptyprocess==0.6.0
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
regex==2020.1.8
requests==2.22.0
s3transfer==0.3.2
sacremoses==0.0.38
scikit-learn==0.22.1
scipy==1.4.1
sentencepiece==0.1.85
six==1.14.0
sklearn==0.0
tb-nightly==1.15.0a20190806
tensorflow==2.0.0rc1
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019080601
tokenizers==0.0.11
torch==1.4.0
torchvision==0.5.0
tqdm==4.42.0
traitlets==4.3.3
transformers==2.3.0
urllib3==1.25.8
wcwidth==0.1.8
Werkzeug==0.16.1
wrapt==1.11.2
WTForms==2.3.0